$player-height: 64px;

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .sidebar {
    width: 150px;
    display: none;
  }
  .content, .content-bar{
    width:calc(100%);
  }
  .other{
    width: 250px;
    display: none;
  }
  .content{
    padding-top: 36px;
  }
  .macOS-buttons{
    display: block!important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .sidebar {
    width: 150px;
    display: none;
  }
  .content, .content-bar{
    width: calc(100%);
  }
  .content{
    padding-top: 36px;
  }
  .other{
    width: 250px;
    display: none;
  }
  .macOS-buttons{
    display: block!important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    width: 200px;
  }
  .content, .content-bar{
    width: calc(100% - 200px);
  }
  .other{
    width: 250px;
    display: none;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar {
    width: 250px;
  }
  .content, .content-bar{
    width: calc(100% - 250px);
  }
  .other{
    width: 250px;
    display: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .sidebar {
    width: 250px;
  }
  .content, .content-bar{
    width: calc(100% - 500px);
  }
  .other{
    width: 250px;
  }
  .carousel-control{
    height: 39vw * .428571429 !important;
  }
  .slick-prev {
    left: -5vmax !important;
  }
  .slick-next {
    right: -5vmax !important;
  }
}
@media (min-width: 1340px){
  .recommendation-list .card .card-img-overlay h4 {
    font-size: 2rem !important;
  }
}

@mixin customFont($name,$style){
  $fontPath: 'fonts/';
  $styleCode:'_Rg' !default;
  @if $style == 'normal' {
    $styleCode:'_Rg';
  } @else if $style == bold {
    $styleCode:'_Bd';
  } @else if $style == italics {
    $styleCode:'_It';
  } @else if $style == light {
    $styleCode:'_Lt';
  } @else if $style == bold light {
    $styleCode:'_BdIt';
  } @else if $style == light italics {
    $styleCode:'_LtIt';
  } @else if $style == display {
    $styleCode:'Display';
  } @else{
    $styleCode:'_Rg';
  }

  $parsedPath: $fontPath + $name + $styleCode + '.ttf';
  @font-face{
    src:url($parsedPath);
    font-family:$name;
    font-style:$style;
  }
  font-family:$name;
  font-style:$style;
}

.slick-arrow:focus{
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  float: left;
  background-color: #373535;
  color: #ccc;
}
@keyframes loadScreen {
  0% {
    opacity:1;
    display: block;
    height: 100%;
    width: 100%;
  }
  99% {
    opacity: 0;
    display: none;
  }
  100% {
    visibility: collapse;
  }
}

body .container-fluid {
  padding-left:0;
  padding-right: 0;
  overflow: hidden;
  height:calc(100% - 64px);
}

.content-bar{
  // width: 100%;
  height: 36px;
  // background-color: #373535;
  position: fixed;
  top:0;
  display: flex;
  align-items: center;
  z-index: 100;
  -webkit-app-region: drag;
}

div {
  @extend html;
  background-color: rgba(0, 0, 0, 0);
}

.carousel-img {
  height: 100%;
  width: 100%;
}

.sidebar {
  padding-top: 36px;
  background-color: #333;
}
.content{
  background-color: #373535;
  overflow-y: scroll;
  //padding: 8px;
}
.other{
  background-color: #333;
}
.player {
  background-color: #2f2e2e;
  height: $player-height;
  position: fixed;
  bottom:0;
  z-index: 1000
}

.carousel-control{
  display:-webkit-box;
  -webkit-box-pack:center;
  // -webkit-box-align:center;
  padding: 16px 16px 32px;
  height: 45vw * .428571429;
  position: relative;
  border-bottom: 1px solid rgba(204, 204, 204, 0.35);
}

.recommendation-list{
  width: 100%;
  height: 45vw * .25 !important;
  /* flexbox setup */
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 8px 16px;
  transition: .5s ease;
  & .card{
    // box-shadow: inset 0px 0px 1px 0px #f8f9fa;
    // border: 0px solid rgba(#000, 0);
    border: 0px solid rgba(0,0,0,0);
    & *{
      transition: 0.1s ease;
    }

  }
  & > div{
    flex: 1 1 auto;
    padding: 12px 24px;
    overflow: hidden;
    // margin: 4px 2px;
  }
  & .card .card-img-overlay h4{

    // position: relative;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    transform: translate(0, 30%);
    text-align: center;
    //@include customFont(Aller, display);
    color: #eee;
    opacity: 0;
    transition: .5s ease;
    text-shadow: 0px 0px 30px rgba(150, 150, 150, 1);
  }

  & .card img{
    height: 95%;
    transform: translateY(-20%);

    margin: 6px 0;
    transform: translate(0, 0);

  }
}

.card:hover {
  & .card-img-overlay h4{
    opacity: 1;
  }
  & img{
    filter: blur(4px);
  }
  border: 0px solid rgba(0, 0, 0, 0);
  animation: growCard 0.5s;
  animation-fill-mode: forwards;
}

.card:not(:hover){
  animation: shrinkCard 0.5s;
  animation-fill-mode: forwards;
}

@keyframes growCard {
  from{
    transform: scale(1.0);
  }
  to{
    transform: scale(1.1);
  }
}

@keyframes shrinkCard {
  from{
    //transform: scale(1.1);
    transform: scale(1.1);
  }
  to{
    transform: scale(1.0);
  }
}

.genre-list {

}
.macOS-buttons{
  width:64px;
  height:36px;
  display: none;
}

#homeCarousel {
  width:90%;
  margin:0 auto;
  & div{
    //overflow-x: hidden;
  }
}

.titleInfo{
  width:100%;
  height: 30%;
  //background-color: #999;
  z-index: 2;
  border-bottom: 4px solid #333;
  &  > div {
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
  }
}

#menu-home {
  -webkit-transform: translate3d(0, 0, 0);
  top: -36px;
  position: relative;
  padding: 4px 8px;
  overflow-x: hidden;
  overflow-y: scroll;
  & > div:not(.titleInfo) {
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
  }
}

#other-friends {
  overflow-y: scroll;
}

.sidebar{
  &::before{
    content: '';
    width: 100%;
    display: block;
    height: 36px;
    margin-top: -36px;
    -webkit-app-region: drag;
  }
}

.userImg{
  height: 48px;
  width: 48px;
  background-color: rgb(0, 0, 0);
  position: relative;
  top: -24px;
  left: 0px;
}

.friendInfoBox{
  height: 90px;
  width: 100%;
  padding: 8px 16px;
  overflow: hidden;
  transition: 0.5s ease;
  &:hover div .profilepicHolder{
    border: 3px solid #ccc;
    &::before{
      visibility: visible;
    }
  }
  & div .profilepicHolder:hover{
    border: 3px solid #fff;
    transition: 0.1s ease;
    transform: scale(1.1) translateY(28%);
    &::before{
      visibility: visible;
      color: #fff;
    }
    &:active{
      transform: scale(0.95) translateY(35%);
    }
  }
}

div.card:active *{
  transform: scale(0.95)
}

.profilepicHolder{
  height: 48px;
  width: 48px;
  transform: translateY(30%);
  border-radius: 100%;
  border: 0px solid #ccc;
  overflow: hidden;
  &::before{
    // width:100%;
    font-family:FontAwesome;
    content: "\f04b";
    position: relative;
    z-index: 1000;
    left: 16px;
    top:8px;
    visibility: hidden;
  }
}

.media {
  //overflow: hidden;
}

.media-body {
    padding-left: 24px;
}

.media-body p{
  &:nth-child(1){
    color: #fff;
    font-size: 1rem;
  }
  &:nth-child(2){
    color: #ccc;
    font-size: 0.75rem;
  }
  &:nth-child(3){
    color: #ccc;
    font-size: 0.75rem;
  }
  &:nth-child(4){
    color:#ddd;
    font-size: 0.75rem;
  }
}

.currentUserImg{
  width:100%;
  height: 182px;
  padding: 8px;
  & img{
    width:128px;
    height:128px;
    display: block;
    margin:24px auto;
  }
}

.currentUserInfo{
  width:100%;
  height: 256px;
  & span{
    width:100%;
    &:nth-child(1){
      font-weight: bold;

    }
    &:nth-child(3){
      font-weight: lighter;
      position: absolute;
      font-size: 0.85rem;
    }
    &:nth-child(5){
      font-size: 0.75rem;
      font-weight: lighter;
      line-height: 1.2;
      position: absolute;
    }
  }
}

#other-sec{
  padding: 4px 16px;
  & h4{
    letter-spacing: 6px;
  }
}

// animation for search bar
body{
  background-color:rgb(138, 132, 147);
}

@keyframes searchboxHover{
  from{
    width: 0;

  }
  to{
    width: calc(100%-24px);
    padding:2px 24px 2px 12px;
    width: 80%;

  }
}

@keyframes submitButtonAlign{
  from{
    right:0px;
  }
  to{
    right:24px;
  }
}

.search-box{
  width: 100%;
  max-width: 300px;
  height: 24px;
  float:left;
  overflow:hidden;
  &:hover .searchText, & .searchText:focus {
    animation: searchboxHover 1s cubic-bezier(.49,.1,.49,.71);
    animation-fill-mode: forwards;

  }
  &:hover .submitButton, .searchText:focus + .submitButton{
    animation: submitButtonAlign 0.2s linear 0.06s;
    animation-fill-mode: forwards;
    position:relative;
    right:0px;
  }
}
.searchText{
  width:0%;
  height: 24px;
  border: 0 solid #000;
  outline:none;
  padding:0;
  border-radius:16px;
  position:relative;
  left:4px;
}
.submitButton{
  border: 0 solid #000;
  outline:none;
  height: 24px;
  width: 24px;
  padding:0;
  border-radius: 16px;
  background-color:#ccc;
  z-index:1000;
  & i{
    color: #10a8aa;
    position:relative;
    top:-1px;
    left:1px;
  }
}

svg.outfluxLogo{
  display: block;
  // border: 2px solid #000;
  // border-radius: 1em;
  overflow: visible;
  fill: none;
  stroke: black;
  height: 20%;
  width: 50%;
  transform: translate(50%,200%);
  animation: growLogo 4s ease 1s;
  & rect {
    stroke-width: 2px;
  }
  //all letters
  & path{
    stroke-dasharray: 1000;
    animation: strokeLogo 3s linear forwards, fillLogo 3s ease 1s forwards;
  }
}

@keyframes strokeLogo {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fillLogo {
  from{
    fill: #333;
  }
  to{
    fill: #000;
  }
}

@keyframes growLogo {
  from{
    transform: scale(1) translate(50%,200%);
  }
  to{
    transform: scale(1.2) translate(42%,160%);
    visibility: hidden;
  }
}

.startAnimation{
  position: fixed;
  height: 100%;
  width:100%;
  background-color: #373535;
  z-index: 999999999;
  animation: loadScreen 1s ease 1.5s;
  animation-fill-mode: forwards;
  // transform: translate(-50%,-50%);
  // top: 50%;
  // left:50%;
}
