/* Coolors Exported Palette - coolors.co/19e7e9-08b0ea-8f0e87-501394-240b5f */

/* HSL */
$color1: hsla(181%, 83%, 51%, 1);
$color2: hsla(195%, 93%, 47%, 1);
$color3: hsla(304%, 82%, 31%, 1);
$color4: hsla(268%, 77%, 33%, 1);
$color5: hsla(258%, 79%, 21%, 1);

/* RGB */
$color1: rgba(25, 231, 233, 1);
$color2: rgba(8, 176, 234, 1);
$color3: rgba(143, 14, 135, 1);
$color4: rgba(80, 19, 148, 1);
$color5: rgba(36, 11, 95, 1);