body{
  background-color:#333;
}

svg.outfluxLogo{
  fill: none;
  stroke: black;
  //all letters
  & path{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: strokeLogo 3s linear forwards, fillLogo 3s ease 1s forwards;
  }
}

@keyframes strokeLogo {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 10;
  }
}

@keyframes fillLogo {
  from{
    fill: #333;
  }
  to{
    fill: #000;
  }
}
