// electron drag window
.titlebar {
  height:36px;
  width:100%;
  position: fixed;
  top:0;
  -webkit-app-region: drag;
  z-index: 100;
  // background-color: #373535;
}

// electron remove highlighting
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
// .panel {
//     position: fixed;
//     left: -15.625em; /*left or right and the width of your navigation panel*/
//     width: 15.625em; /*should match the above value*/
// }
// .wrap{
//     position: relative;
// }
@font-face {
    font-family: slick;
    src: url(dependencies/slick/fonts/slick.ttf);
}
.slick-prev:before, .slick-next:before {
font-family: slick;
}
.slick-next{
  right: -6.5vmax !important;
  &:before {
    content: '→';
  }
}

.slick-prev{
  left: -6.5vmax !important;
  //margin-right: 36px;
  &:before {
    content: '←';
  }
}

.slick-arrow{
  width: 7vmax;
  z-index: 100;
  background-color: #373535;
  height: 115%;
}

.carousel-home .slick-list {
  overflow-x: hidden;
  //overflow-x: visible;
  overflow: visible;
}

.carousel-home .slick-list .slick-track .slick-slide {
  transition: 0.1s ease;
  margin-left: 24px;
  & img{
    height:95%;
    border-radius: 8px;
    // box-shadow: 0px 0px 20px 0px #fff;
    // box-shadow:9px 3px 20px 4px #222;
    transition: 0.1s ease;
    margin: 6px 0;

    //border-radius: 16px;
    // &:not(:hover){
    //   transform: scale(1.1);
    // }
  }
  &:hover{
    transform: scale(1.1);
    & img{
      filter: blur(2px);
    }
    &::before {
      display: block;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.79);
      content: '';
      border-radius: 8px;
      top: 2%;
    }
    &::after{
      font-family: FontAwesome;
      content: "\f04b";
      color: #fff;
      text-indent: 0.9vw;
      position: absolute;
      z-index: 1000;
      font-size: 1.5vw;
      top: 40%;
      left: 32%;
      height: 3.3vw;
      width:3.3vw;
      border: 0.3vw solid #fff;
      border-radius: 100%;
      background-color: rgba(0, 0, 0, 0.75);
      line-height: 2.9vw;
    }
  }
  &:active{
    transform: scale(0.95);
    &::after{
      border-color: #aaa;
      color: #aaa;
    }
  }
}



.slideshow-home .slick-list .slick-track div img {
  width:100%;
  position: relative;
  filter: blur(4px);
}

.slideshow-home .slick-list .slick-track div{
  transform: translateY(-75%);
}

.slideshow-home .slick-list .slick-track div h3{
  position: absolute;
  bottom:  -12vh;
  left: 0;
  padding: 2px 8px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.slideshow-home .slick-list .slick-track div span {
  position: absolute;
  bottom:  -15vh;
  left: 0;

  padding: 0px 8px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.25rem;
}
